@model IEnumerable<TechPort.Models.Viagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Viagens</h1>

<p>
    @Html.ActionLink("Cadastrar Nova Viagem", "Create", new {id = "" }, new {@class = "btn btn-primary"})
</p>
<table id="tabela-viagens" class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Navio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoViagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Navio.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoViagem)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new {id = item.Id}, new {@class = "btn btn-outline-primary"})   
                    @Html.ActionLink("Detalhes", "Details", new {id = item.Id }, new {@class = "btn btn-outline-primary"})   
                    @Html.ActionLink("Excluir", "Delete", new {id = item.Id}, new {@class = "btn btn-outline-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tabela-viagens').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
                }
            });
        });
    </script>
}