@model IEnumerable<TechPort.Models.VidaConteiner>

@{
    ViewData["Title"] = "Index";
}

<h1>Operações de Containers</h1>

<p>
    @Html.ActionLink("Criar Nova Operação", "Create", new {id = "" }, new {@class = "btn btn-primary"})
</p>
<table id="tabela-operacoes-containers" class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Conteiner)*@ @Html.LabelFor(model => model.FirstOrDefault().Conteiner, "Container", htmlAttributes: new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusConteiner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Navio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etapa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Conteiner.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusConteiner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viagem.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Navio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etapa)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {id = item.Id}, new {@class = "btn btn-outline-primary"})
                    @Html.ActionLink("Detalhes", "Details", new {id = item.Id }, new {@class = "btn btn-outline-primary"})
                    @Html.ActionLink("Excluir", "Delete", new {id = item.Id}, new {@class = "btn btn-outline-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tabela-operacoes-containers').DataTable({
                "language": {
                    "url":"//cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
            }
            });
        });
    </script>
}